
@{
    ViewData["Title"] = "InquiryConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">InquiryConfirmation</h1>
<a class="btn btn-primary" asp-action="Payment">Click me!</a>
<p class="text-dark">It is a new page</p>

